<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>Skolaris</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="Skolaris">
  <meta name="author" content="Skolaris">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="../assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Sweet Alert -->
  <link type="text/css" href="../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- Notyf -->
  <link type="text/css" href="../vendor/notyf/notyf.min.css" rel="stylesheet">
  <!-- Volt CSS -->
  <link type="text/css" href="../css/volt.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5" href="index.html">
      <img class="navbar-brand-dark" src="../assets/img/brand/light.svg" alt="Volt logo" /> <img
        class="navbar-brand-light" src="../assets/img/brand/dark.svg" alt="Volt logo" />
    </a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="avatar-lg me-4">
            <img src="../assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
              alt="Bonnie Green">
          </div>
          <div class="d-block">
            <h2 class="h5 mb-3">Hi, Jane</h2>
            <a href="examples/sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
              <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
              </svg>
              Sign Out
            </a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
            aria-expanded="true" aria-label="Toggle navigation">
            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="../index.html" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <img src="../assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
            </span>
            <span class="mt-1 ms-1 sidebar-text">Skolaris</span>
          </a>
        </li>
        <li class="nav-item  active ">
          <a href="../index.html" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
              </svg>
            </span>
            <span class="sidebar-text">Inicio</span>
          </a>
        </li>
        <li class="nav-item ">
          <a href="ver_normativa.html" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span class="sidebar-text">Ver Normativa</span>
          </a>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Asistencia</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="asistencia_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="asistencia_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views1">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Calificaciones</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views1" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="calificaciones_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="calificaciones_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views2">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Horarios</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views2" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="horarios_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="horarios_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="horarios_administrador.html">
                  <span class="sidebar-text">Administrador</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views3">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Comunicación</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views3" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="comunicacion_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="comunicacion_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views4">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Reportes</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views4" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="reportes_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reportes_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views5">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Docentes</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views5" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="docentes_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="docentes_administrador.html">
                  <span class="sidebar-text">Administrador</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#views6">
            <span>
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                    clip-rule="evenodd"></path>
                  <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                </svg>
              </span>
              <span class="sidebar-text">Actividades</span>
            </span>
            <span class="link-arrow">
              <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </span>
          <div class="multi-level collapse " role="list" id="views6" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item">
                <a class="nav-link" href="actividades_usuario.html">
                  <span class="sidebar-text">Usuario</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="actividades_docente.html">
                  <span class="sidebar-text">Docente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
      <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
          <div class="d-flex align-items-center">

          </div>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown ms-lg-3">
              <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="media d-flex align-items-center">
                  <img class="avatar rounded-circle" alt="Image placeholder"
                    src="../assets/img/team/profile-picture-3.jpg">
                  <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                    <span class="mb-0 font-small fw-bold text-gray-900">Bonnie Green</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                <a class="dropdown-item d-flex align-items-center" href="perfil.html">
                  <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Mi Perfil
                </a>

                <a class="dropdown-item d-flex align-items-center" href="admin.html">
                  <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Admin
                </a>

                <div role="separator" class="dropdown-divider my-1"></div>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                    </path>
                  </svg>
                  Cerrar Sesión
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>


        <!-- Contenido principal específico para docentes -->
        <div class="row">
          <div class="col-12">
            <div class="card border-0 shadow">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="fs-5 fw-bold mb-0">Mis Comunicados</h3>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                      data-bs-target="#crearComunicadoModal">
                      <i class="fas fa-plus me-1"></i> Crear Comunicado
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- Barra de búsqueda -->
                <div class="row mb-4">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" id="buscarMisComunicados"
                        placeholder="Buscar por título o mensaje...">
                      <button class="btn btn-primary" type="button" id="btnBuscarDocente">
                        <i class="fas fa-search me-1"></i> Buscar
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Listado de comunicados del docente -->
                <div class="list-group list-group-flush">
                  <!-- Comunicado 1 -->
                  <div class="list-group-item px-0 py-4 ">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img src="../assets/img/team/profile-picture-2.jpg" class="avatar rounded-circle" alt="Docente">
                      </div>
                      <div class="col ms-n2">
                        <h4 class="h5 mb-1">Cancelación de clases de matemáticas</h4>
                        <p class="small mb-0">
                          <span class="text-muted">Publicado: 11 de abril, 2025</span> |
                          <span class="text-success"><i class="fas fa-thumbs-up"></i> 12</span> |
                          <span class="text-danger"><i class="fas fa-thumbs-down"></i> 3</span> |
                          <span class="text-info"><i class="fas fa-comments"></i> 3</span>
                        </p>
                        <p class="mt-2 mb-0">Se informa que la clase de matemáticas del día 20 de abril se cancela por
                          temas de salud.</p>
                      </div>
                      <div class="col-auto">
                        <div class="d-flex">
                          <button class="btn btn-sm btn-outline-primary me-2 btn-action" data-bs-toggle="modal"
                            data-bs-target="#editarComunicadoModal">
                            <i class="fas fa-edit me-1"></i> Modificar
                          </button>
                          <button class="btn btn-sm btn-outline-danger btn-action" onclick="confirmarEliminar(1)">
                            <i class="fas fa-trash me-1"></i> Eliminar
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Comentarios -->
                    <div class="collapse mt-3" id="comentariosDocente1">
                      <div class="card card-body border-0 shadow-sm">
                        <div class="list-group list-group-flush">
                          <!-- Comentario 1 -->
                          <div class="list-group-item px-0 py-3">
                            <div class="d-flex">
                              <img src="../assets/img/team/profile-picture-1.jpg" class="avatar rounded-circle me-3"
                                alt="Usuario">
                              <div>
                                <p class="mb-1"><strong>Maria Vargas</strong> • <small class="text-muted">15 de abril,
                                    2025</small></p>
                                <p class="mb-0">Gracias por la información!!!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Comunicado 2  -->
                  <div class="list-group-item px-0 py-4 ">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img src="../assets/img/team/profile-picture-2.jpg" class="avatar rounded-circle" alt="Docente">
                      </div>
                      <div class="col ms-n2">
                        <h4 class="h5 mb-1">Tarea para el fin de semana</h4>
                        <p class="small mb-0">
                          <span class="text-muted">Publicado: 5 de abril, 2025</span> |
                          <span class="text-success"><i class="fas fa-thumbs-up"></i> 8</span> |
                          <span class="text-danger"><i class="fas fa-thumbs-down"></i> 1</span> |
                          <span class="text-info"><i class="fas fa-comments"></i> 2</span>
                        </p>
                        <p class="mt-2 mb-0">Por favor completar los ejercicios de la página 45 para el lunes.</p>
                      </div>
                      <div class="col-auto">
                        <div class="d-flex">
                          <button class="btn btn-sm btn-outline-primary me-2 btn-action" data-bs-toggle="modal"
                            data-bs-target="#editarComunicadoModal">
                            <i class="fas fa-edit me-1"></i> Modificar
                          </button>
                          <button class="btn btn-sm btn-outline-danger btn-action" onclick="confirmarEliminar(2)">
                            <i class="fas fa-trash me-1"></i> Eliminar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- parte Comunicado -->
        <div class="modal fade" id="crearComunicadoModal" tabindex="-1" aria-labelledby="crearComunicadoModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="crearComunicadoModalLabel">Crear Nuevo Comunicado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="formCrearComunicado">
                  <div class="mb-3">
                    <label for="tituloComunicado" class="form-label">Título</label>
                    <input type="text" class="form-control" id="tituloComunicado" required>
                  </div>
                  <div class="mb-3">
                    <label for="mensajeComunicado" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensajeComunicado" rows="5" required></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Destinatarios</label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1A" id="grupo1A" checked>
                      <label class="form-check-label" for="grupo1">
                        Matemática 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1B" id="grupo1B">
                      <label class="form-check-label" for="grupo2">
                        Estudios sociales 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="2A" id="grupo2A">
                      <label class="form-check-label" for="grupo3">
                        Matemática 2
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="crearComunicado()">Publicar Comunicado</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Editar Comunicado -->
        <div class="modal fade" id="editarComunicadoModal" tabindex="-1" aria-labelledby="editarComunicadoModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editarComunicadoModalLabel">Editar Comunicado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="formEditarComunicado">
                  <div class="mb-3">
                    <label for="editTituloComunicado" class="form-label">Título</label>
                    <input type="text" class="form-control" id="editTituloComunicado"
                      value="Cancelación de clases de matemáticas" required>
                  </div>
                  <div class="mb-3">
                    <label for="editMensajeComunicado" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="editMensajeComunicado" rows="5"
                      required>Se informa que la clase de matemáticas del día 20 de abril se cancela por temas de salud.</textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="guardarCambios()">Guardar Cambios</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer (igual que en tu referencia) -->
        <footer class="bg-white rounded shadow p-3 mt-4">
          <!-- ... contenido del footer ... -->
        </footer>
      </main>

      <!-- Scripts (igual que en tu referencia) -->
      <script src="../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
      <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- ... otros scripts ... -->
      <script src="../assets/js/volt.js"></script>
      <script src="../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

      <!-- Script docente después se mejoran mas -->
<script>
  // Configuración de SweetAlert
  const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-success',
      cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
  });

  // Funn eliminacion confi
  function confirmarEliminar() {
    swalWithBootstrapButtons.fire({
      title: '¿Estás seguro?',
      text: "¡No podrás revertir esta acción!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        swalWithBootstrapButtons.fire(
          '¡Eliminado!',
          'El comunicado ha sido eliminado.',
          'success'
        );
      }
    });
  }

  // funcion comunicado 
  function crearComunicado() {
    const titulo = document.getElementById('tituloComunicado').value;
    const mensaje = document.getElementById('mensajeComunicado').value;
    
    if (!titulo || !mensaje) {
      Swal.fire('Error', 'Debes completar todos los campos', 'error');
      return;
    }

    Swal.fire(
      '¡Publicado!',
      'Tu comunicado ha sido publicado con éxito.',
      'success'
    );

    
    const modal = bootstrap.Modal.getInstance(document.getElementById('crearComunicadoModal'));
    modal.hide(); // Bootstrap para cerrar ra
    
    // Limpiar fun
    setTimeout(() => {
      document.getElementById('formCrearComunicado').reset();
    }, 500);
  }

  // fun editar
  function guardarCambios() {
    const titulo = document.getElementById('editTituloComunicado').value;
    const mensaje = document.getElementById('editMensajeComunicado').value;

    if (!titulo || !mensaje) {
      Swal.fire('Error', 'Debes completar todos los campos', 'error');
      return;
    }

    Swal.fire(
      '¡Guardado!',
      'Los cambios han sido guardados.',
      'success'
    );

    const modal = bootstrap.Modal.getInstance(document.getElementById('editarComunicadoModal'));
    modal.hide(); // Bootstrap para cerrar ra 
  }

  document.getElementById('btnBuscarDocente').addEventListener('click', function() {
    const termino = document.getElementById('buscarMisComunicados').value.toLowerCase();
    const comunicados = document.querySelectorAll('.comunicado-card');
    let resultados = 0;

    comunicados.forEach(comunicado => {
      const texto = comunicado.textContent.toLowerCase();
      if (texto.includes(termino)) {
        comunicado.style.display = '';
        resultados++;
      } else {
        comunicado.style.display = 'none';
      }
    });

    const notyf = new Notyf({
      position: { x: 'right', y: 'bottom' },
      types: [{
        type: 'info',
        background: '#262B40',
        icon: { className: 'fas fa-comment-dots', tagName: 'span', color: '#fff' },
        dismissible: false
      }]
    });
    notyf.open({
      type: 'info',
      message: resultados > 0 ? `Búsqueda completada (${resultados} resultados)` : 'Búsqueda completada'
    });
  });

  document.querySelectorAll('.modal').forEach(modal => {
    modal.addEventListener('hidden.bs.modal', function() {
      document.querySelectorAll('.modal-backdrop').forEach(backdrop => {
        backdrop.remove();
      });
      document.body.style.overflow = 'auto';
      document.body.style.paddingRight = '0';
    }); 
  });
</script>


      <!-- Soporte Técnico -->
      <div class="theme-settings card bg-gray-800 pt-2 collapse" id="theme-settings">
        <div class="card-body bg-gray-800 text-white pt-4">
          <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
            href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="m-0 mb-1 me-4 fs-7">Soporte Técnico</p>
          </div>
          <a href="soporte.html"
            class="btn btn-secondary d-inline-flex align-items-center justify-content-center mb-3 w-100">
            Contactar Soporte
            <svg class="icon icon-xs ms-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="card theme-settings bg-gray-800 theme-settings-expand" id="theme-settings-expand">
        <div class="card-body bg-gray-800 text-white rounded-top p-3 py-2">
          <span class="fw-bold d-inline-flex align-items-center h6">
            Soporte Técnico
          </span>
        </div>
      </div>
    </main>

      <!-- Footer -->
      <footer class="bg-white rounded shadow p-3 mt-4">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 mb-2 mb-md-0">
            <p class="mb-0 text-center text-md-start small">© 2025 <a class="text-primary fw-bold" href="#"
                target="_blank">Skolaris</a> - Derechos Reservados</p>
          </div>
          <div class="col-12 col-md-6">
            <ul class="list-inline list-group-flush list-group-borderless mb-0 text-center text-md-end">
              <li class="list-inline-item px-2">
                <a href="tel:+50600000000" class="text-decoration-none small">Llamar: +506 0000-0000</a>
              </li>
              <li class="list-inline-item px-2">
                <a href="mailto:info@escuela.com" class="text-decoration-none small">Correo: info@escuela.com</a>
              </li>
              <li class="list-inline-item px-2">
                <a href="https://facebook.com/escuela" target="_blank" class="text-decoration-none small">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
  </main>

  <!-- Core -->
  <script src="../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Vendor JS -->
  <script src="../vendor/onscreen/dist/on-screen.umd.min.js"></script>

  <!-- Slider -->
  <script src="../vendor/vendor/nouislider/distribute/nouislider.min.js"></script>

  <!-- Smooth scroll -->
  <script src="../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Charts -->
  <script src="../vendor/chartist/dist/chartist.min.js"></script>
  <script src="../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

  <!-- Datepicker -->
  <script src="../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Sweet Alerts 2 -->
  <script src="../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

  <!-- Moment JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- Vanilla JS Datepicker -->
  <script src="../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Notyf -->
  <script src="../vendor/notyf/notyf.min.js"></script>

  <!-- Simplebar -->
  <script src="../vendor/simplebar/dist/simplebar.min.js"></script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Volt JS -->
  <script src="../assets/js/volt.js"></script>


</body>

</html>